
<div class="bg-dark">
    <h3 class="my-3 text-white py-2"><i class="fa fa-chevron-circle-right mx-2" aria-hidden="true"></i>{{id == 'null' ? "Ajouter" : "Modifier"}} un produit</h3>
</div>
<h4>{{message}}</h4>
<div class="form-group col-md-6">
    <app-button-back [Addlink]="productlist"></app-button-back>
    <form (ngSubmit)="HandleProduct()">
        <div class="form-group row my-3">
            <label for="inputName" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10 mb-3">
                <input name="Name" class="form-control" id="inputName" placeholder="Carotte" [(ngModel)]="product.name" />
            </div>
            <label for="inputUnit" class="col-sm-2 col-form-label">Unité</label>
            <div class="col-sm-10">
                <select id="unit" name="unit" (change)="SelectedOption($event)">
                    <option>--Select--</option>
                    <option [value]="unit.id" *ngFor="let unit of allunits">{{unit.name}}</option>
                </select>
            </div>
        </div>
        <app-button-post></app-button-post>
    </form>
</div>

