<div class="bg-dark">
    <h3 class="my-3 text-white py-2"><i class="fa fa-chevron-circle-right mx-2" aria-hidden="true"></i>{{id == 'null' ? "Ajouter" : "Modifier"}} une Coupe</h3>
</div>

<div class="form-group col-md-6">
    <app-button-back [Addlink]="cutList"></app-button-back>
    <form (ngSubmit)="SubmitCut()">
        <div class="form-group row my-3">
            <label for="inputName" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input name="Name" class="form-control" id="inputName" placeholder="Légume" [(ngModel)]="cut.name" />
            </div>
        </div>
        <app-button-post></app-button-post>
    </form>

</div>
